	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/02/2018 07:20
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-area-with-pins:before { content: "\f100"; }
.flaticon-settings:before { content: "\f101"; }
.flaticon-shared-folder:before { content: "\f102"; }
.flaticon-pin-code:before { content: "\f103"; }
.flaticon-tools:before { content: "\f104"; }
.flaticon-user:before { content: "\f105"; }
.flaticon-sprout:before { content: "\f106"; }
.flaticon-sunny:before { content: "\f107"; }
.flaticon-animal:before { content: "\f108"; }
.flaticon-graphic:before { content: "\f109"; }