.pest-wrap {
	width: 100%;
}
.pest_middle,.pest_middle .middle_center {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.middle_center .center {
	width: 1070px;
	margin: 0 auto;
	float: left;
}
    /* 本例子css */
    .slideGroup{ text-align:left;  }
    .slideGroup .slideBox{ overflow:hidden; zoom:1; padding:10px 0 10px 85px; position:relative;   }
    .slideGroup .sPrev,.slideGroup .sNext{ position:absolute; left:5px; top:10px; display:block; width:65px; height:200px;  background:url(../img/device_pest/sr.png) center center no-repeat ; }
    .slideGroup .sNext{ left:auto; right:5px; background:url(../img/device_pest/sl.png) center center no-repeat ;  }
    .slideGroup .sPrev:hover,.slideGroup .sNext:hover{ border-color:#f60;  }

    .slideGroup .parBd ul{ overflow:hidden; zoom:1;   }
    .slideGroup .parBd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }


.pic {
	text-align:center;
	height:190px;
	width:190px;
	margin:0 auto;
}
#circle {
	width: 100%;
	height: 100%;
	background: url(../img/header/yuan.png) no-repeat center;
	background-size: cover;
}
#circle span p {
	margin-bottom: 0;
	font-size: 16px;
	text-align: center;
}
#circle img {
	margin-top: 40px;
	border-width:0;
	width: 65px;
	height: 65px;
}
.center_bottom {
	width:1200px;
	margin: 0 auto;
	margin-top: 20px;
	/*border: solid #000 1px;*/
	
}
.tabBar {
	width: 100%;
	height: 30px ;
	border-bottom: 0;
}
.tabBar span {
	text-align: center;
	width: 133.333px;
	background-color: #d6eaf1;
	cursor: pointer;
	display: inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding:0 0;
}
.tabBar span.current {
	background-color: #2993f7;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.tabCon {
	display: none;
	width: 100%;
}





