@charset "utf-8";
/* 
    Created on : 2017-10-26, 14:23:34
    Author     : zhang
*/
html{height:100%}
body{min-height: 100%;position: relative;font-size:14px;color:#333; background-color:#fff;}
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.bg-1{ background-color:#f5fafe}
h4{line-height:30px}
.indexMain{
    height:100%;
    width:100%;
    min-width: 1200px;
    clear: both;
}
/*页面框架*/
.Hui-aside{font-size:16px;position: absolute;top:120px;bottom:0;left:0;width: 220px;z-index:99;overflow:auto;border-right: 1px solid #e5e5e5}
.Hui-article-box{position: absolute;top:120px;right:0;bottom: 0;left:220px; min-width:980px;overflow:hidden; z-index:1; background-color:#fff;}
.Hui-article{position: absolute;top:0px;bottom:0;left:0; right:0;overflow:auto;z-index:1}
.Hui-container{ padding:45px 0 0}
.Hui-aside,.Hui-article-box,.dislpayArrow{-moz-transition: all 0.2s ease 0s;-webkit-transition: all 0.2s ease 0s;-ms-transition: all 0.2s ease 0s;-o-transition: all 0.2s ease 0s;transition: all 0.2s ease 0s}
.big-page .Hui-article-box,.big-page .dislpayArrow,.big-page .breadcrumb{left:0px}
.big-page .Hui-aside{ left:-20%}
.page-container{ padding:20px}
@media (max-width: 767px) {
	.page-container{ padding:15px}
}
/*导航*/
#Hui-nav > ul > li{ font-weight:normal}

#Hui-userbar{right:20px}
#Hui-userbar > ul > li > a{padding:0 10px}
	
#Hui-msg .badge{ position:absolute; left:19px; top:4px; font-size:12px; font-weight:normal; padding:1px 5px}
/*左侧菜单*/
.Hui-aside .menu_dropdown dl{ margin-bottom:0}
.Hui-aside .menu_dropdown dt{display:block;line-height:35px;padding-left:50px;cursor:pointer;position:relative;border-bottom: 1px solid #e5e5e5;font-weight:normal}
.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ position:absolute;overflow: hidden; top:0; right:15px;transition-duration:0.3s ;transition-property:all}
.Hui-aside .menu_dropdown dd{ display:none}
.Hui-aside .menu_dropdown dt.selected .menu_dropdown-arrow{transform: rotate(180deg)}
.Hui-aside .menu_dropdown dd.selected{display:block; margin-left:0px}
.Hui-aside .menu_dropdown ul{padding:0px}
.Hui-aside .menu_dropdown li{line-height:35px;overflow:hidden;zoom:1}
.Hui-aside .menu_dropdown li a{padding-left:15px; display:block;font-weight: bold; margin:0}
.Hui-aside .menu_dropdown li a i{ font-weight: normal}
.Hui-aside .menu_dropdown dd ul{padding:3px 8px}
.Hui-aside .menu_dropdown dd li{line-height:32px}
.Hui-aside .menu_dropdown dd li a{line-height:32px;padding-left:50px; border-bottom:none; font-weight:normal}
.Hui-aside .menu_dropdown li a:hover{text-decoration:none}
.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{background-color:rgba(255,255,255,0.2)}
/*菜单收缩切换*/
.dislpayArrow a {background: url(../img/icon_arrow.png) no-repeat 0 0;}
.dislpayArrow{position: absolute;top: 0;bottom: 0;left:220px;width:0px; height:100%;z-index:10}
.dislpayArrow a{ position:absolute; display:block; width:17px; height:61px;top:50%; margin-top:0px;outline:none}
.dislpayArrow a.open{ background-position:0 -61px}
.dislpayArrow a:hover{ text-decoration:none; background-position:right 0}
.dislpayArrow a.open:hover{background-position:right -61px}

.loading {background:url(../img/loading.gif) no-repeat center; height:100px}
.show_iframe{ position:absolute; top:0; right:0; left:0; bottom:0;}
.show_iframe iframe {position: absolute;bottom: 0;height: 100%;width: 100%;min-width:1050px;}

.Hui-aside{}/*侧边栏*/
.Hui-aside .menu_dropdown dt{color:#333;}/*左侧二级导航菜单*/
.Hui-aside .menu_dropdown dt:hover{color:#148cf1}
.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
.Hui-aside .menu_dropdown li a{color:#666;border-bottom: 1px solid #e5e5e5}
.Hui-aside .menu_dropdown li a:hover{color:#148cf1;background-color:#fafafa}
.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#a0a7b1}
.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}	

