@charset "utf-8";
.history_list .odd{width:25%; float: left;min-height: 1px;position: relative;  box-sizing:border-box;}
.history_list .even{width:25%; float: left;min-height: 1px;position: relative;  box-sizing:border-box;}
.history_list .table-history{border:0}
.history_list .form{
    padding:10px;
    background-color: #d8ecf3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.history_list .text-c{
    border:0;
    width:100%;
    height:100%;
    
}

.history_list  p{

    /*color: #5494dc;*/
    text-align: center;
       font-size:16px;
}

.history_list .table-border th, .history_list .table-border td {
    border:0;
}
img{
    width:100%;
    height:100%
}


